name: racket / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: Racket ${{ matrix.racket-version }}-${{ matrix.racket-variant }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        racket-variant: ['BC', 'CS']
        racket-version: ['8.8', '8.9']

    steps:
      - uses: actions/checkout@v4

      - uses: Bogdanp/setup-racket@bdb546a9ade9d3b7aeda6d8b77cbe615752421c5
        with:
          architecture: x64
          distribution: minimal
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
          packages: 'rackunit-lib, compiler-lib'

      - name: Run exercism/racket ci (runs tests) for all exercises
        run: ./bin/check-exercises.sh
