name: racket / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: Racket ${{ matrix.racket-version }}-${{ matrix.racket-variant }}

    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        racket-variant: ['BC', 'CS']
        racket-version: ['8.14', '8.15', '8.16']

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: Bogdanp/setup-racket@0094a9d8bd157633293a2210f373bb542687fa6d
        with:
          architecture: x64
          distribution: minimal
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
          packages: 'rackunit-lib, compiler-lib'

      - name: Run exercism/racket ci (runs tests) for all exercises
        run: ./bin/check-exercises.sh
