name: racket / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: Racket ${{ matrix.racket-version }}-${{ matrix.racket-variant }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        racket-variant: ['BC', 'CS']
        racket-version: ['6.6', '7.9']

    steps:
      - uses: actions/checkout@v2

      - uses: Bogdanp/setup-racket@00f7ec314c9d21e1f81e1805036d4dc2577a44aa
        with:
          architecture: x64
          distribution: minimal
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
          packages: 'rackunit-lib, compiler-lib'

      - name: Run exercism/racket ci (runs tests) for all exercises
        run: ./bin/check-exercises.sh
