name: racket / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: Racket ${{ matrix.racket-version }}-${{ matrix.racket-variant }}

    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - racket-version: '8.17'
            racket-variant: 'BC'
          - racket-version: '8.17'
            racket-variant: 'CS'
          - racket-version: '8.18'
            racket-variant: 'CS'
          - racket-version: '9.0'
            racket-variant: 'CS'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - uses: Bogdanp/setup-racket@fda0f4d167468421766cea8a36140bd2c3c3450d
        with:
          architecture: x64
          distribution: minimal
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
          packages: 'rackunit-lib, compiler-lib'

      - name: Run exercism/racket ci (runs tests) for all exercises
        run: ./bin/check-exercises.sh
